<div class="container mx-auto">
    <div class="grid grid-cols-4 mt-2">
        <div class="p-3 hidden sm:block">
            <i class="fa-brands fa-threads text-3xl"></i>
        </div>
        <div class="grid col-span-4 sm:col-span-2 md:col-span-2 grid-cols-5 text-2xl text-center px-12">
            <a href="">
                <div class="rounded-lg p-3 hover:bg-zinc-800 transition duration-100">
                    <i class="fa-solid fa-house"></i>
                </div>
            </a>
            <a href="">
                <div class="rounded-lg p-3 hover:bg-zinc-800 transition duration-100">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </a>
            <a href="">
                <div class="rounded-lg p-3 hover:bg-zinc-800 transition duration-100">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </a>
            <a href="">
                <div class="rounded-lg p-3 hover:bg-zinc-800 transition duration-100">
                    <i class="fa-solid fa-heart"></i>
                </div>
            </a>
            <a href="">
                <div class="rounded-lg p-3 hover:bg-zinc-800 transition duration-100">
                    <i class="fa-solid fa-user"></i>
                </div>
            </a>
        </div>
        <div class="text-right p-3 hidden sm:block">
            <i class="fa-solid fa-bars text-2xl"></i>
        </div>
    </div>
</div>
