<div class="container mx-auto">
    <div class="grid grid-cols-4 mt-4">
        <div class="md:col-start-2 md:col-span-2 col-span-full">
            <div class="grid grid-cols-12">
                <div class="p-2">
                    <div class="rounded-full overflow-hidden">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ61fHniNaEEmzpHQWART9hsSADj5C7sQhWpg6yoDPXqg&s"
                            alt=""
                        />
                    </div>
                </div>
                <div class="col-span-9 flex flex-col justify-center pl-3">
                    <div class="text-zinc-500">Bắt đầu thread...</div>
                </div>
                <div class="col-start-11 col-span-2">
                    <button class="bg-white text-black px-4 py-2 rounded-3xl font-medium">Đăng
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




