<div class="container mx-auto ">
    <div class="grid grid-cols-4 mt-4">
        <div class="md:col-start-2 md:col-span-2 col-span-full">
            <div style="border-top: 1px solid gray;">
                <div class="grid grid-cols-12" >
                    <div class="p-2">
                        <div class="rounded-full overflow-hidden">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ61fHniNaEEmzpHQWART9hsSADj5C7sQhWpg6yoDPXqg&s" alt="">
                        </div>
                        <div class="bg-neutral-600 m-auto mt-1" style="width: 2px; height: 90%;"></div>
                    </div>
                    <div class="col-span-9 pt-1">
                        <div class="pl-3">
                            <span class="font-medium">t.ram22</span>
                            <span>&nbsp;</span>
                            <span class="text-neutral-500">13 giờ</span>
                        </div>
                        <div class="pl-3">
                            Cuộn C200 mới nhà Fuji tớ thấy màu tuy khá vàng do bên Kodak làm nma cũng có một chút sắc xanh nên cũng khá đẹp mắt hehe.
                            <br>
                            <br>
                            Do là lần đầu dùng nên vẫn chưa tận dụng đc hết cuộn này, sẽ thử lại lần tới trong tương lai (nếu còn tiền) 😔
                        </div>
                        <div class="pl-3">
                            <div class="flex max-height-video">
                                <div class="rounded-lg overflow-hidden">
                                    <video type="video/mp4" controls playsinline autoplay style src="https://scontent.cdninstagram.com/o1/v/t16/f1/m69/GICWmADR71UpE0sEAFwxzgagAf5xbpR1AAAF.mp4?efg=eyJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSIsInZlbmNvZGVfdGFnIjoidnRzX3ZvZF91cmxnZW4uZmVlZC5jMi4xOTIwLmhpZ2gifQ&_nc_ht=scontent.cdninstagram.com&_nc_cat=110&vs=638145145153560_569710636&_nc_vs=HBksFQIYOnBhc3N0aHJvdWdoX2V2ZXJzdG9yZS9HSUNXbUFEUjcxVXBFMHNFQUZ3eHpnYWdBZjV4YnBSMUFBQUYVAALIAQAVAhg6cGFzc3Rocm91Z2hfZXZlcnN0b3JlL0dKUmtJQm9fYkQtZUJXNEJBRjZqV1g1cjRrZ2Fia1lMQUFBRhUCAsgBACgAGAAbAYgHdXNlX29pbAEwFQAAJuTo15OR5IVAFQIoAkMzLBdAN4hysCDEnBgSZGFzaF9oaWdoXzEwODBwX3YxEQB16gcA&_nc_rid=f96c4fb6d2&ccb=9-4&oh=00_AfCXfP9iLv_sbGvrLrZuPGvhmFLGhzT8sxE8lO42lhmMpg&oe=662B19DF&_nc_sid=10d13b"></video>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="grid grid-cols-12">
                                <div class="">
                                    <i class="fa-regular fa-heart rounded-full p-3 hover:bg-zinc-800 transition duration-100"></i>
                                </div>
                                <div>
                                    <i class="fa-regular fa-comment rounded-full p-3 hover:bg-zinc-800 transition duration-100"></i>
                                </div>
                            </div>
                        </div>
                        <div class="pl-3">
                            <span class="text-neutral-500">16 trả lời</span>
                            <span>&nbsp;</span>
                            <span class="text-neutral-500">124 lượt thích</span>
                        </div>
                    </div>
                    <div class="col-start-12">
                        <button class="">
                            <i class="fa-solid fa-ellipsis text-neutral-500"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>