@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";

body{
    background-color: #101010;
    color: white;
}

.max-height-video{
    max-height: 430px;
}

